/* Syntax highlighting */
$bg-color: #fdf6e3;

.highlight {
  background: $bg-color;
  color: #586e75;

  .highlighter-rouge & {
    background: $bg-color;
    color: #586e75;
  }
}

pre, code {
  background-color: $bg-color;
  color: #586e75;
}

hr {
  margin-bottom: $spacing-unit / 2;
  color: #fff;
}

.site-header {
  background-color: #eee;
}

.site-footer {
  background-color: #eee;
}
